<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="info.plateaukao.naverdict" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
    </queries> <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name="info.plateaukao.einkbro.EinkBroApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute" >
        <activity
            android:name="info.plateaukao.einkbro.activity.ExtraBrowserActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|uiMode|screenLayout|smallestScreenSize"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!-- BrowserActivity -->
        <activity
            android:name="info.plateaukao.einkbro.activity.BrowserActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|uiMode|screenLayout|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="einkbro" />
                <data android:scheme="einkbros" />
            </intent-filter>
            <intent-filter android:icon="@mipmap/ic_launcher" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.WEB_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="sc_startPage" />
                <action android:name="sc_bookmark" />
                <action android:name="sc_history" />
                <action android:name="notification" />
            </intent-filter>
            <intent-filter>
                <action android:name="colordict.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="colordict.intent.action.PICK_RESULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:order="1"
                android:priority="1" >
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name="info.plateaukao.einkbro.activity.EpubReaderActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="file"
                    android:pathPattern=".*\\.epub"
                    android:mimeType="application/epub+zip"
                    />
                <data
                    android:scheme="content"
                    android:pathPattern=".*\\.epub"
                    android:mimeType="application/epub+zip"
                    />
            </intent-filter>
        </activity>
        <!-- Settings -->
        <activity
            android:name="info.plateaukao.einkbro.activity.SettingsActivity"
            android:parentActivityName="info.plateaukao.einkbro.activity.BrowserActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|uiMode|screenLayout|smallestScreenSize"
            android:label="@string/setting_label" />
        <activity
            android:name="info.plateaukao.einkbro.activity.Whitelist_AdBlock"
            android:label="@string/setting_title_whitelist" />
        <activity
            android:name="info.plateaukao.einkbro.activity.Whitelist_Javascript"
            android:label="@string/setting_title_whitelistJS" />
        <activity
            android:name="info.plateaukao.einkbro.activity.Whitelist_Cookie"
            android:label="@string/setting_title_whitelistCookie" />
        <activity
            android:name="info.plateaukao.einkbro.activity.Settings_ClearActivity"
            android:label="@string/setting_title_clear_control" />

        <service
            android:name="info.plateaukao.einkbro.service.ClearService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" /> <!-- android:authorities="info.plateaukao.einkbro.debug.fileprovider" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="info.plateaukao.einkbro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />
    </application>

</manifest>